*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.homePage{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,red,purple,pink);
    display: grid;
    place-content: center;
}

.messageInput{
    display: flex;
    justify-content: center;
    align-items: center;
}


input{
    width: auto;
    border: none;
    outline: none;
    padding: 6px 10px;
    flex: 1;
    border-bottom-left-radius: 10px;

}

button{
    border: none;
    outline: none;
    width: auto;
    background-color: rgb(182, 122, 32)  ;
    padding: 6px 10px;
    height: 100%;
    border-bottom-right-radius: 10px;
}

.chatContainer{
    width: 450px;
    /* background-color: blanchedalmond; */
}

.chatSection{
    padding: 6px 10px;
    background-color: aqua;
    height: 40vh;
    overflow-x: auto;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.chatSection::-webkit-scrollbar{
    display: none;
}

.sender{
    text-align: right;
}

.reciver{
    text-align: left;
}